<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find RC10)/urdf/RC10.urdf" />
  
  <!-- Статическая трансформация от map к base_link -->
  <node
    name="map_to_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 map base_link 100" />
  
  <!-- Joint state publisher для публикации состояний суставов -->
  <!-- <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" /> -->
  
  <!-- Joint state publisher GUI для управления суставами -->
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  
  <!-- Robot state publisher для публикации трансформаций -->
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find RC10)/urdf.rviz" />
</launch>